<div class="form-group" [ngClass]="{'has-error':!formControl.valid && formControl.touched}">
  <label [attr.for]="controlDefinition.id"
         class="control-label required"
         [ngClass]="{'required': isRequired()}"
         *ngIf="controlDefinition.name">
    {{controlDefinition.name}}
  </label>
  <span class="help-block"
        *ngIf="controlDefinition.hint">
    {{controlDefinition.hint}}
  </span>
  <div class="input-group">
    <span class="input-group-addon"
          *ngIf="controlDefinition.prefix">
      {{controlDefinition.prefix}}
    </span>
    <input type="{{controlDefinition.type}}"
           class="form-control text-input"
           id="{{controlDefinition.id}}-txt"
           placeholder="{{controlDefinition.placeholder}}"
           [formControl]="formControl"
           #input/>
    <span class="input-group-addon"
          *ngIf="controlDefinition.suffix">
      {{controlDefinition.suffix}}
    </span>
  </div>
  <span class="help-block"
        *ngIf="!formControl.valid && formControl.touched && formControl.errors['required']"
        [ngClass]="{'error': !formControl.valid && formControl.touched}">
    {{ 'common.required_field' }}
  </span>
</div>





