<div class="form-group" [ngClass]="{'has-error':!formControl.valid && formControl.touched}">
  <label [attr.for]="controlDefinition.id" class="control-label" *ngIf="controlDefinition.name">{{controlDefinition.name
    | translate}}</label>
  <span class="help-block" *ngIf="controlDefinition.hint">{{controlDefinition.hint}}</span>
  <div class="input-group">
    <span class="input-group-addon" *ngIf="controlDefinition.prefix">{{controlDefinition.prefix}}</span>
    <textarea rows="4" class="form-control text-input" id="{{controlDefinition.id}}"
              placeholder="{{controlDefinition.placeholder | translate}}" [formControl]="formControl"
              #input></textarea>
    <span class="input-group-addon" *ngIf="controlDefinition.suffix">{{controlDefinition.suffix}}</span>
  </div>
  <span class="help-block" *ngIf="!formControl.valid && formControl.touched && formControl.errors['required']"
        [ngClass]="{'error': !formControl.valid && formControl.touched}">
    This field is required!
  </span>
</div>
